<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/images/arcade.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Quiz - Iniciar</title>
    <link rel="stylesheet" href="../static/css/quiz.css">
</head>
<body>
    <h2>QUIZ</h2>
  <main>
    <div class="content">
      <span class="spnQtd"></span>
      <span class="question"></span>
      <div class="answers"></div>
    </div>
   <!-- Adicione esse HTML ao seu arquivo de finalização -->
<div class="finish">
  <span></span>
  <button class="btn-restart">Reiniciar</button>
  <button class="btn-save">Salvar Pontuação</button>
  <button id="voltar">Voltar ao Menu</button>
</div>

   

    <div class="ghosts">
      <ghost class="blinky"></ghost>
      <ghost class="clyde"></ghost>
      <ghost class="inky"></ghost>
      <ghost class="pinky"></ghost>
      <ghost class="dizzied"></ghost>
    </div>
  </main>
  <div id="nameModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Digite seu nome:</h2>
      
      <input type="text" id="playerName" placeholder="Seu nome">
      <button id="submitName">Salvar</button>
      <i class="fa-solid fa-ghost"></i>
    </div>
  </div>
  <script src="../static/js/quiz.js" type="module"></script>
</body>
</html>