<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link rel="icon" href="../static/images/arcade.png">
  <title>Quiz</title>
  <link rel="stylesheet" href="../static/css/loadingpage.css">
</head>
<body>
 <!-- partial:index.partial.html -->
<section class="container">
  <h1>
   
    <span class="title">QUIZ</span>
  </h1>
  
  <a href="escolha.html" class="button">Iniciar</a>

</section>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js'>
</script>  
<script src="../static/js/loading.js"></script>
</body>
</html>
