@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
html {
  height: 100%;
}

body {
  font-family: "Fjalla One", sans-serif;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(68,47,115,1) 50%, rgba(0,0,0,1) 100%);;
}

.container {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  max-width: 225px;
}

.button {
  float: left;
  position: relative;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%) rotate(-10deg);
  color: #f1c40f;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  font-size: 25px;
}
.button span {
  transform: skew(-10deg);
  display: block;
  float: left;
  text-shadow: #3a2a33 2px 2px, #35232e 4px 4px, #3d2a35 3px 3px, #533d4a 4px 4px;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 62px;
  margin: 0;
  line-height: 47px;
  letter-spacing: 2px;
}

.title {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  left: 50%;
  position: relative;
}
.title span {
  transform: skew(-10deg);
  display: block;
  float: left;
  text-shadow: #070707 2px 2px, #000000 4px 4px, #000000 3px 3px, #000000 4px 4px, #000000 7px 7px, #000000 8px 8px;
  min-width: 10px;
  min-height: 10px;
  position: relative;
}

.title:nth-child(1) {
  color: white;
}
